@import "utilities";

body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  box-sizing: content-box;

  background-color: #131210;
}

.app-shell {

}
a {
  color: inherit;
  text-decoration: none;
}

$img-x-offset: 250px;

.image-container {
  @include centered-column();
  width: 100%;
  height: 100%;
}


.image-item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
